body {
    background-color: #222;
}

.cards-container {
    perspective:250px;
    width: 300px;
    height: 150px; 
    position: relative;
    top: 15rem;
    left: 25rem;
    
}

.cards {
    width: 50px;
    height: 80px;
    background-color: #442222;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left:200px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}

@keyframes Carrusel {
    from {
        transform: rotateY(360deg)translateZ(150px);
        z-index: 10;
        opacity: 0.9;
    }

    50% {
        z-index: -10;
    }

    to {
        transform: rotateX(0deg) translateZ(150px);
        z-index: 10;
    }
}

#baki {
    background-image: url(images/trading.jpg);
    background-size: cover;
}
#baki:hover {
    box-shadow: 0px 0px 10px green;
}
#bake {
    background-image: url(images/cripto.jpg);
    background-size: cover;
    animation-delay: -1s;

}
#bake:hover {
    box-shadow: 0px 0px 10px green;
}

 #baka {
    background-image: url(images/bullvsbear.jpg);
    background-size: cover;
    animation-delay: -2s;

}
#baka:hover {
    box-shadow: 0px 0px 10px green;
}
#buk {
    background-image: url(images/operaciones.jpg);
    background-size: cover;
    animation-delay: -3s;

}
#buk:hover {
    box-shadow: 0px 0px 10px green;
}
#bok {
    background-image: url(images/acciones.jpg);
    background-size: cover;
    animation-delay: -4s;

}
#bok:hover {
    box-shadow: 0px 0px 10px green;
}
#bik {
    background-image: url(images/bonos.jpg);
    background-size: cover;
    animation-delay: -5s;

}
#bik:hover {
    box-shadow: 0px 0px 10px green;
}
#bek {
    background-image: url(images/indices.jpg);
    background-size: cover;
    animation-delay: -6s;

}
#bek:hover {
    box-shadow: 0px 0px 10px green;
}
#bak {
    background-image: url(images/futuros.jpg);
    background-size: cover;
    animation-delay: -7s;

} 
#bak:hover {
    box-shadow: 0px 0px 10px green;
}
.cards h3 {
    color: white;
    font-size: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    background-color: red;
}
.mod{
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    z-index: 1;
}
#botonModal:checked ~ .mod{
	opacity: 1;
	visibility: visible;
} 
.conten{
	width: 300px;
	height: 300px;
    margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
    border-radius: 10px;
}
#botonModal:checked ~ .mod .conten{
	transform: translateY(0%);
} 
.conten p {
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 100%;
    background: #291;
	color: #fff;
}
.conten label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.conteni{
    width: 100%;
    /* height: 18rem; */
    /* margin-right: 88rem; */
}
.conteni input{
    margin-top: 15px;
}
#botonModal{
	display: none;
}
.tlmodal{
    width: 6rem;
    position: absolute;
    margin-top:15px ;
    background: #fff;
	padding: 10px 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 2px 6px #08a05ca4;
    border-radius: 15px;
	cursor: pointer;
    z-index: 1;
}
.name{
    justify-content: center;
    text-align: center;
    width: 100%;
    height:3rem;
    box-shadow: 0 3px 6px #08a05ca4;
    border-radius: 5px;
}
.namex{
    justify-content: center;
    text-align: center;
    width: 100%;
    height:3em;
    box-shadow: 0 3px 6px #08a05ca4;
    border-radius: 5px;
}
#subm button{
    
 width: 8rem;
 height: 2.7rem;
   display: block;
   margin: auto;
   padding: -2px;
   box-shadow: 0 2px 6px #08a05ca4;
}
#subm p {
    background:fixed ;
    color: red;
    font-size: small;

}
#subm:hover{
    color: white;
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display:  none;
    justify-content: center;
    align-items: center;
}
.modal.is-open {
    display:  flex;
}
.modal-container{
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    min-height: 600px;
    overflow-y: auto;
    background-color: #fff;


}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}