body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.cards-container {
    perspective:250;
    width: 300px;
    height: 150px;
    position: relative;

}

.cards {
    width: 50px;
    height: 80px;
    background-color: #442222;
    font-size: 40px;
    position: absolute;
    top: 35px;
    left: 125px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    animation: Carrusel 8s linear infinite;
}

@keyframes Carrusel {
    from {
        transform: rotateY(360deg)translateZ(100px);
        z-index: 10;
        opacity: 0.9;
    }

    50% {
        z-index: -10;
    }

    to {
        transform: rotateX(0deg) translateZ(100px);
        z-index: 10;
    }
}

#baki {
    background-image: url(images/trading.jpg);
    background-size: cover;
}
#baki:hover {
    box-shadow: 0px 0px 10px green;
}
#bake {
    background-image: url(images/cripto.jpg);
    background-size: cover;
    animation-delay: -1s;
}
#bake:hover {
    box-shadow: 0px 0px 10px green;
}

 #baka {
    background-image: url(images/bullvsbear.jpg);
    background-size: cover;
    animation-delay: -2s;
}
#baka:hover {
    box-shadow: 0px 0px 10px green;
}
#buk {
    background-image: url(images/operaciones.jpg);
    background-size: cover;
    animation-delay: -3s;
}
#buk:hover {
    box-shadow: 0px 0px 10px green;
}
#bok {
    background-image: url(images/acciones.jpg);
    background-size: cover;
    animation-delay: -4s;
}
#bok:hover {
    box-shadow: 0px 0px 10px green;
}
#bik {
    background-image: url(images/bonos.jpg);
    background-size: cover;
    animation-delay: -5s;
}
#bik:hover {
    box-shadow: 0px 0px 10px green;
}
#bek {
    background-image: url(images/indices.jpg);
    background-size: cover;
    animation-delay: -6s;
}
#bek:hover {
    box-shadow: 0px 0px 10px green;
}
#bak {
    background-image: url(images/futuros.jpg);
    background-size: cover;
    animation-delay: -7s;
} 
#bak:hover {
    box-shadow: 0px 0px 10px green;
}
.cards h3 {
    color: white;
    font-size: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
    background-color: red;

}