@import "./config";

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}
@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@function random-keyframe() {
  $keyframes: sway-left-to-right, sway-right-to-left;
  $random-index: random(length($keyframes));
  @return nth($keyframes, $random-index);
}

@mixin bubbles{
  @for $i from 1 to 39 {
    &:nth-child(#{$i}) {
      $bubble-left-offset: randomNum(0, 90) + vw;
      $bubble-radius: randomNum(1, 10) + vw;
      $bubble-float-duration: randomNum(6, 12) + s;
      $bubble-sway-duration: randomNum(3, 6) + s;
      $bubble-float-delay: randomNum(1, 4) + s;
      $bubble-sway-delay: randomNum(0, 4) + s;
      $bubble-sway-type: random-keyframes();
    }
  }
}

$bubble-sway-type: random-keyframes();

.bubbles {
  position: absolute;
  @include width-heigth-100;
  overflow: hidden;
  top: 0;
  left: 0;

  .bubble {
    position: absolute;
    left: $bubble-left-offset;
    bottom: -75%;
    display: block;
    width: $bubble-radius;
    height: $bubble-radius;
    border-radius: 50%;
    animation: float-up $bubble-float-duration $bubble-float-delay ease-in
      infinite;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(136, 246, 251, 0.3);
      border-radius: inherit;
      animation: #{random-keyframe()} $bubble-sway-duration $bubble-sway-delay
        ease-in-out alternate infinite;
    }
    @for $i from 1 to 39 {
      &:nth-child(#{$i}) {
        $bubble-left-offset: randomNum(0, 90) + vw;
        $bubble-radius: randomNum(1, 10) + vw;
        $bubble-float-duration: randomNum(6, 12) + s;
        $bubble-sway-duration: randomNum(3, 6) + s;
        $bubble-float-delay: randomNum(1, 4) + s;
        $bubble-sway-delay: randomNum(0, 4) + s;
        $bubble-sway-type: random-keyframes();
      }
    }
  }
}
