.Intro {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .aceb {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .acciones {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .AnalisisTecnico {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .InstrumentosFinancieros {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .OpcionesFinancieras {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .PerfilDeInversor {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .Tendencias {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .VelasJaponesas {
    color: white;
    text-align: center;
    padding: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }