.banner-text {
  width: 100%;
  position: relative;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  p {
    text-align: center;
    color: #a5c9ca;
    font-size: 3.7vw;
    margin-top: 5%;
  }
}
