.modal-right {
  top: 4.5rem;
  z-index: 3;
  position: absolute;
  right: 0;
  background-color: #A5C9CA;
  border-radius: 20px;
}

.modal-content button {
  padding: 0.7rem;
  text-align: end;
  border: none;
  background-color: #A5C9CA;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#modalbody {
  width: 25rem;
}