.contenedor-QuienesSomos {
  text-align: center;
  justify-content: center;
  color: white;
  ul li {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0 2px 6px #fffafaa4;
    list-style: none;
  }
  h1 {
    box-shadow: 0 2px 6px #ffffffa4;
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-top: 1rem;
  }
  img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #fffefea4;
    padding: 15px;
    margin: 30px;
  }
}

.qs-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 0 !important;
  max-width: 100%;
  background-color: #a5c9ca;
  margin-right: 0 !important;
  p {
    height: fit-content !important;
    margin: auto;
  }
}

.imgprofile{
  display: flex;
}
.imgprofile img {
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  border-radius: 50%;
 display: block;
 margin: auto;
}

@media only screen and (max-width: 1020px) {
  .imgprofile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.imgprofile h3{
  display: block;
  margin: auto;
flex-direction: column; 
}
