.react-bootstrap-carousel {
    max-width: 100%;
    margin: 0 auto;
}

.react-bootstrap-carousel .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-bootstrap-carousel .carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

.react-bootstrap-carousel .carousel {
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: none;
}

.carousel-item {
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}

.carousel-item.active {
    transform: scale(1.1);
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-text {
    font-size: 25px;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    padding: 20px;
    background-image: linear-gradient(to right top,
            #2c3333,
            #485555,
            #657a7a,
            #84a0a1,
            #a5c9ca);
    background-color: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    white-space: normal;
    margin-top: 10px;
}

.carousel-item.active .carousel-text {
    transform: scale(1.1);
    padding: 30px;
}

.carousel-item.next .carousel-text,
.carousel-item.prev .carousel-text {
    transform: scale(0.9);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .react-bootstrap-carousel {
        max-width: 90%;
        height: 300px;
    }

    .carousel-item {
        padding: 10px;
    }

    .carousel-text {
        font-size: 18px;

        font-weight: 900;
        padding: 15px;
        height: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .react-bootstrap-carousel {
        max-width: 80%;
        height: 350px;
    }

    .carousel-item {
        padding: 20px;
    }

    .carousel-text {
        font-size: 20px;
        font-weight: 900;
        padding: 25px;
        height: 250px;
    }
}

@media (min-width: 1280px) {
    .react-bootstrap-carousel {
        max-width: 70%;
        height: 400px;
    }

    .carousel-item {
        padding: 30px;
    }

    .carousel-text {
        font-size: 22px;
        font-weight: 900;
        padding: 35px;
        height: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .react-bootstrap-carousel {
        max-width: 85%;
        height: 250px;
    }

    .carousel-item {
        padding: 15px;
    }

    .carousel-text {
        font-size: 16px;
        font-weight: 900;
        padding: 20px;
        height: 150px;
    }
}

@media (max-width: 575px) {
    .react-bootstrap-carousel {
        max-width: 80%;
        height: 200px;
    }

    .carousel-item {
        padding: 10px;
    }

    .carousel-text {
        font-size: 14px;
        font-weight: 900;
        padding: 15px;
        height: 120px;
    }
}

@media (max-width: 767px) {
    .carousel-indicators {
        margin-top: 20px;
       
    }
}